if typeof errors !== 'undefined'
    .validations
        each error in errors
            .alert.alert-danger.fade.alert-dismissible(role="alert")
                button.close(type="button", data-dismiss="alert", aria-label="Close")
                    span(aria-hidden="true") &times;
                span #{error.msg}
